<html>
    <head>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>
    <body>
        <div id="dv"></div>
        <script type="text/babel">

            var a="https://th.bing.com/th?q=29+Inch+BMX+Bike&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=strict&t=1&mw=247";
            var b="https://th.bing.com/th/id/OIP.DpCK-0ZAKeq_wxgMrugrXwHaEK?w=274&h=180&c=7&r=0&o=5&pid=1.7";
            function Abc(){
                var x=+prompt();
               var [x,setx]=React.useState(x)
                 return <div><h1>{(x%2==0)?<img src={a} alt=""/>:<img src={b} alt=""/>}</h1></div>
            }
            ReactDOM.render(<Abc></Abc>,document.getElementById("dv"))
        </script>
    </body>
</html>