<html>
    <head>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>
    <body>
            <div id="dv"></div>
        <script type="text/babel">
            function Con(){
                var [x,setx]=React.useState("veera")
                var [y,sety]=React.useState("manikanta")
                return (
                    <div>
                        <h1>{x+y}</h1>
                        </div>
                )
            }
            ReactDOM.render(<Con></Con>,document.getElementById('dv'))

        </script>
    </body>
</html>